//

@use 'bootstrap';

body{
    background-color: rgb(231, 234, 238);
}

#site_header{
    background-color: white;
    
   
    nav{
        a{
            text-decoration: none;
            color: black !important;
            text-transform: uppercase;
        }
    }

}

#site_main{

    .jumbotron{
        background-image: url("../img/jumbotron.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }

    
}

    .comic-cover{
        padding: 10px;
        margin-bottom: 15px;

        img{
            width: 100%;
            object-fit: cover;
            object-position: top;

        }
}